In [137]:
# Import the appropriate libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [138]:
# Read the dataset
df = pd.read_csv('C:/Users/DEL/Desktop/energydata_complete.csv')

In [139]:
# Check the data types in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [140]:
# Get the number of rows and columns
df.shape

(19735, 29)

In [141]:
# Obtain the first 5 entries in the dataset 
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [142]:
# Obtain the last 5 rows in the dataset
df.tail()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,...,23.2,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,...,23.2,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,...,23.2,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,...,23.2,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,...,23.2,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [143]:
# Get the summary statistics of the dataset
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [144]:
# Check for any missing values
df.isnull().any()

date           False
Appliances     False
lights         False
T1             False
RH_1           False
T2             False
RH_2           False
T3             False
RH_3           False
T4             False
RH_4           False
T5             False
RH_5           False
T6             False
RH_6           False
T7             False
RH_7           False
T8             False
RH_8           False
T9             False
RH_9           False
T_out          False
Press_mm_hg    False
RH_out         False
Windspeed      False
Visibility     False
Tdewpoint      False
rv1            False
rv2            False
dtype: bool

In [145]:
# Double check if any missing value is still in the dataset
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

# MACHINE LEARNING REGRESSION

In [146]:
# Drop the columns: date and lights before further analysis  
new_df = df.drop(columns = ['date', 'lights'])

In [147]:
# normalize the dataset by importing MinMaxScaler
# then check the first 5 rows of the normalized dataframe
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(new_df), columns = new_df.columns)
normalized_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

# Question 12

In [148]:
# From the dataset, fit a linear model on the relationship between the temperature in the living room
# in Celsius (x = T2) and the temperature outside the building (y = T6).

In [149]:
# Check the feature_df 
feature_df = normalized_df.drop(columns = ['T6'])
feature_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [150]:
# check the target variable
target_var = normalized_df['T6']
target_var.head()

0    0.381070
1    0.375443
2    0.367487
3    0.363800
4    0.361859
Name: T6, dtype: float64

In [151]:
#  train_test_split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature_df, target_var , test_size = 0.3, random_state = 42)

In [152]:
# Linear Regression
from sklearn.linear_model import LinearRegression
lin_mod = LinearRegression()
lin_mod.fit(x_train, y_train)

LinearRegression()

In [153]:
# Predictions
pred_val = lin_mod.predict(x_test)
pred_val

array([0.19567145, 0.23132818, 0.15528472, ..., 0.40987405, 0.52400841,
       0.57074905])

In [154]:
# R-Squared 
from sklearn.metrics import r2_score
r2 =  round(r2_score(y_test, pred_val), 2)
print('The R^2 value in two decimal places is ', r2)

The R^2 value in two decimal places is  0.97

# Question 13

In [155]:
# Mean Absolute Error
from sklearn.metrics import mean_absolute_error
mae= round(mean_absolute_error(y_test, pred_val), 2)
print('The Mean Absolute Error in two decimal places is ',mae)

The Mean Absolute Error in two decimal places is  0.02

# Question 14

In [156]:
# Residual Sum of Squares(RSS)
import numpy as np
rss = round(np.sum(np.square(y_test - pred_val)), 2)
print('The Residual Sum of Squares in two decimal places is ', rss)

The Residual Sum of Squares in two decimal places is  5.67

# Question 15

In [157]:
# Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = round(np.sqrt( mean_squared_error(y_test, pred_val)), 3)
print('The Root Mean Squared Error in three decimal places is ', rmse)

The Root Mean Squared Error in three decimal places is  0.031

# Question 16

In [158]:
# R-Squared 
from sklearn.metrics import r2_score
r2 =  round(r2_score(y_test, pred_val), 2)
print('The Coefficient of determination in two decimal places is ', r2)
print('The Coefficient of determination is also known as the R-Square')

The Coefficient of determination in two decimal places is  0.97
The Coefficient of determination is also known as the R-Square

# Penalization Methods

# Question 18

In [159]:
# Ridge Regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)
rsme = round(np.sqrt( mean_squared_error(y_test, pred_val)), 3)
print('Root Mean Square Error:', rsme)
r2 =  r2_score(y_test, pred_val)
print('R-square :', r2)
print()
print('With this result, the Root Mean Square Error did not change.')

Root Mean Square Error: 0.031
R-square : 0.9693749222335442

With this result, the Root Mean Square Error did not change.

# Question 20

In [160]:
# Feature Selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)
rsme = round(np.sqrt( mean_squared_error(y_test, pred_val)), 3)
print('Root Mean Square Error:', rsme)
r2 =  r2_score(y_test, pred_val)
print('R-square :', r2)
print('the new Root Mean Square Error with Lasso Regression is ',  rsme)

Root Mean Square Error: 0.031
R-square : 0.9693749222335442
the new Root Mean Square Error with Lasso Regression is  0.031

In [161]:
# The feature weights are obtained from the linear model above

In [162]:
# comparing the effects of regularization
from sklearn.linear_model import LinearRegression
def get_weights_df(model, feat, col_name):
    # this function returns the weight of every feature 
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

lin_mod_weights = get_weights_df(lin_mod, x_train, 'Lin_Mod_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')

final_weights = pd.merge(lin_mod_weights, ridge_weights_df, on = 'Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on = 'Features')
final_weights

       Features  Lin_Mod_Weight  Ridge_Weight  Lasso_Weight
0            T1       -0.200259     -0.191996     -0.000000
1          RH_6       -0.095752     -0.093393     -0.056267
2     Tdewpoint       -0.092771     -0.008467      0.039489
3          RH_3       -0.076931     -0.075159      0.000000
4            T5       -0.068688     -0.064520     -0.000000
5          RH_8       -0.044272     -0.042570      0.000000
6            T7       -0.042958     -0.042810     -0.000000
7            T8       -0.038978     -0.041319     -0.000994
8          RH_1       -0.032903     -0.025074      0.000000
9            T4       -0.023896     -0.024302     -0.000000
10  Press_mm_hg       -0.019606     -0.020496     -0.000000
11         RH_5       -0.003751     -0.004748     -0.000000
12    Windspeed       -0.001034     -0.003581      0.000000
13   Visibility       -0.000892     -0.000379     -0.000000
14          rv1       -0.000224     -0.000207     -0.000000
15          rv2       -0.000224     -0.000207     -0.000000
16         RH_7        0.009865      0.009532      0.000000
17         RH_9        0.015003      0.016420      0.000000
18           T3        0.019442      0.019122     -0.000000
19   Appliances        0.027594      0.026841      0.000000
20         RH_4        0.035136      0.035526      0.000000
21           T9        0.080841      0.081655     -0.000000
22         RH_2        0.102678      0.080711     -0.000000
23       RH_out        0.143846      0.084649     -0.000000
24           T2        0.322437      0.309402      0.044727
25        T_out        1.003190      0.892755      0.842836